* {
  box-sizing: border-box;
}

header {
  height: 100px;
}

header img {
	width: 200px;
	float: left;
}

.header-right {
  float: right;
}


.header-right img {
  padding: 10px 10px 10px 10px;
  line-height: 100px;
  width: 120px;
}

.pictures-wrapper {
	margin-bottom: 40px;
}

.lesson-wrapper {
  height: 700px;
}

.message-wrapper {
  text-align: center;
  margin: 0 auto;
  width: 75%;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  color:#494949;
  background-image: url("pictures/pink.jpg");
}

.container {
  margin: 0 auto;
}

footer {
  margin-top: 20px;
  float: right
}

footer img {
	width: 200px;
}