* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

}

p {
  font-size: 20px;
}

.site-header {
  height: 100px; 
  background-image: url("pictures/dot.jpg");
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  margin-bottom: 30px;
  border-radius: 5px;
}

header img {
  width: 220px;
  float: left;
  margin-left: 20px;
}

:root {
  --hamburger-menu-size: 100px; /* メニューの大きさ */ 
  --hamburger-menu-padding: 3px;  
  --hamburger-menu-border-px: 2px; /* 線の太さ */
  --hamburger-menu-border-color: #342534; /* 線の色 */
  --hamburger-menu-transition: 0.3s; /* アニメーション秒数 */
}

.hamburger-menu {
  float: right;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 20px;
  background-color:rgba(255,255,255,0.2);
  background-blend-mode:lighten;
  display: none;
  margin: 10px;
}


.hamburger-menu-line {
  position: absolute;
  transition: var(--hamburger-menu-transition);
  width: calc(100% - var(--hamburger-menu-padding) * 2);
  height: var(--hamburger-menu-border-px);
  background-color: var(--hamburger-menu-border-color);
}


.line-top {
  top: var(--hamburger-menu-padding);
  left: var(--hamburger-menu-padding);
}

.line-middle {
  top: calc(50% - var(--hamburger-menu-border-px)/2);
  left: var(--hamburger-menu-padding);
}

.line-bottom {
  bottom: var(--hamburger-menu-padding);
  left: var(--hamburger-menu-padding);
}


.hamburger-menu-active > .line-top {
  top: calc(50% - var(--hamburger-menu-border-px)/2);
  transform: rotate(45deg);
}

.hamburger-menu-active > .line-middle {
  width: 0;
  height: 0;
  left: var(--hamburger-menu-padding);
}

.hamburger-menu-active > .line-bottom {
  top: calc(50% - var(--hamburger-menu-border-px)/2);
  transform: rotate(-45deg);
}


.header-right {
  float: right;
  margin-right: 20px;
}


.header-right img {
  padding: 17px 10px 10px 10px;
  line-height: 100px;
  width: 120px;
  cursor: url("pictures/cursor.cur"), auto;
}

.header-right img:hover {
	opacity: 0.8;
}

.header-right img:active {
  position: relative;
  top: 3px;
  left: 3px;
}

.pictures-wrapper {
  margin: 50px auto 50px auto;
  width: 50%;
}


.slider {
  width: 700px;
}

.slider img {
  width: 70%;
  height: 70%;
}


.slider img:hover {
  opacity: 0.8;
}


.message-wrapper {
  text-align: center;
  margin: 50px auto;
  width: 75%;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  color:#494949;
  /*
  background-image: url("pictures/shiba-illust.png");
  background-size: contain;
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
  */
}

.message-wrapper h1 {
  font-size: 40px;
}

.message-wrapper p {
  font-size: 20px;
  margin-bottom: 50px
}

.message-wrapper {
  display: flex;
}

.photos {
  float: left;
  border-radius: 5px;
  width: 50%;
  height: 50%;
  margin: 50px;
}

.photos img {
  width: 70%;
  margin: auto;
}

.message-text {
  margin: auto;
}

.contents {
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

.contents img {
  border-bottom: 2px dashed #D7DDE4;
  padding-bottom: 7px;
  margin-bottom: 30px;
}

.dogs {
  display: flex;
}

.shiba {
  flex; auto;
  width: 25%;
  margin: 30px 10px 30px 10px;
  padding: 15px;
  border: 1px solid #E9E9E9;
}

.andmore {
  float: right;
  margin:  15px;
}

.shiba img {
  width: 75%;
}

.cafe-menu {
  display: flex;
}

.cafe-menu a, p {
  flex: auto;
}

.cafe-menu img {
  width: 150px;
}

.map {
  margin: 30px auto;
  width: 50%;
}

.shiba-syoukai, .system, .menu, .access {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border: 3px dashed #D7DDE4;
  background-color: aliceblue;
  background-blend-mode:lighten;
  border-radius: 15px;
}

.top-button {
  text-align: center;
  margin-bottom: 50px;
}

.top-button:active {
  position: relative;
  top: 3px;
  left: 3px;
}

.top-button img:hover {
  opacity: 0.8;
  cursor: url("pictures/cursor.cur"), auto;
}

.map_route {
  display: flex;
  margin: 0 auto;
}

.googlemap, .route {
  flex: auto;
  margin: auto 30px;
}

.route {
  width: 50%;
}

.route td{
  text-align: center;
}

.route table {
  /*border: 0.5px solid #BAB4B4;*/
}

.clear {
  clear: left;
}

footer {
  margin: 0 auto;
  padding-bottom: 5px;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  background-color: aliceblue;
}

.share-buttons {
}

.twitter-share-button {
  display: block;
  margin: 5px auto;
}

.footer-access {
  margin: 0 auto;
  text-align: center;
}

footer img {
  margin: 0 auto;
  width: 150px;
  padding-top: 15px;
  border: none;
}

footer .container {
  text-align: center;
}

footer p {
  font-size: 12px;
  font-weight: bold;
}

.footer-access {
  
}

.fadein {
	opacity : 0.1;
	transform : translate(0, 50px);
	transition : all 2000ms;
	}

/* 画面内に入った状態 */
.fadein.scrollin {
	opacity : 1;
	transform : translate(0, 0);
	}
