* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

}

p {
  font-size: 20px;
}

.site-header {
  height: 100px; 
  background-image: url("pictures/dot.jpg");
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  margin-bottom: 30px;
  border-radius: 5px;
}

header img {
  width: 220px;
  float: left;
  margin-left: 20px;
}

.header-right {
  float: right;
  margin-right: 20px;
}


.header-right img {
  padding: 17px 10px 10px 10px;
  line-height: 100px;
  width: 120px;
  cursor: url("pictures/cursor.cur"), auto;
}

.header-right img:hover {
	opacity: 0.8;
}

.header-right img:active {
  position: relative;
  top: 3px;
  left: 3px;
}

.pictures-wrapper {
  margin: 50px auto 50px auto;
  width: 75%;
}


.slider {
  
}

.slider img {
}


.slider img:hover {
  opacity: 0.8;
}


.message-wrapper {
  text-align: center;
  margin: 50px auto;
  width: 75%;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  color:#494949;
  /*
  background-image: url("pictures/shiba-illust.png");
  background-size: contain;
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
  */
}

.message-wrapper img {
  width: 500px;
  padding: 0 15px;
}

.message-wrapper h1 {
  font-size: 40px;
}

.message-wrapper p {
  font-size: 20px;
  margin-bottom: 50px
}

.message-wrapper {
  display: flex;
}

.photos {
  margin: auto 15px auto 15px;
  border-radius: 5px;
}

.message-text {
  margin: auto;
}

.contents {
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

.contents img {
  border-bottom: 2px dashed #D7DDE4;
  padding-bottom: 7px;
  margin-bottom: 30px;
}

.dogs {
  display: flex;
}

.shiba {
  flex; auto;
  width: 25%;
  margin: 30px 10px 30px 10px;
  padding: 15px;
  border: 1px solid #E9E9E9;
}

.andmore {
  float: right;
  margin:  15px;
}

.shiba img {
  width: 75%;
}

.cafe-menu {
  display: flex;
}

.cafe-menu a, p {
  flex: auto;
}

.cafe-menu img {
  width: 150px;
}

.map {
  margin: 30px auto;
  width: 50%;
}

.shiba-syoukai, .system, .menu, .access {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border: 3px dashed #D7DDE4;
  background-color: aliceblue;
  background-blend-mode:lighten;
  border-radius: 15px;
}

.top-button {
  text-align: center;
  margin-bottom: 50px;
}

.top-button:active {
  position: relative;
  top: 3px;
  left: 3px;
}

.top-button img:hover {
  opacity: 0.8;
  cursor: url("pictures/cursor.cur"), auto;
}

.map_route {
  display: flex;
  margin: 0 auto;
}

.googlemap, .route {
  flex: auto;
  margin: auto 30px;
}

.route td{
  text-align: center;
}

.route table {
  /*border: 0.5px solid #BAB4B4;*/
}

.clear {
  clear: left;
}

footer {
  margin: 0 auto;
  padding-bottom: 5px;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  background-color: aliceblue;
}

.share-buttons {
}

.twitter-share-button {
  display: block;
  margin: 5px auto;
}

.footer-access {
  margin: 0 auto;
  text-align: center;
}

footer img {
  margin: 0 auto;
  width: 150px;
  padding-top: 15px;
  border: none;
}

footer .container {
  text-align: center;
}

footer p {
  font-size: 12px;
  font-weight: bold;
}

.footer-access {
  
}

.fadein {
	opacity : 0.1;
	transform : translate(0, 50px);
	transition : all 2000ms;
	}

/* 画面内に入った状態 */
.fadein.scrollin {
	opacity : 1;
	transform : translate(0, 0);
	}

/* メディアクエリ */
@media screen and (max-width: 1024px) {
/* 1024pxまでの幅の場合に適応される */
    .message-wrapper {
        display: block;
    }
    
  .photos {
    padding-top: 20px;
  }
  
  .message-text img {
    width: 50%;
  }
  
  .message-text p {
    font-size: 17px;
  }
  
  .dogs {
    flex-wrap: wrap;
  }
  
  .shiba {
    width: 50%;
    margin: 0 auto;
  }
  
  .map_route {
    display: block;
  }
  
  .googlemap, .route {
    margin: 0 auto;
  }
  
  .route {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
/* 768pxまでの幅の場合に適応される */
  .site-header {
    height: 75px; 
  }
  
  header img {
    width: 20%;
    line-height: 75px;
  }
  
  .header-right {
    width: 70%;
  }
  
  .header-right img {
    line-height: 75px;
    width: 15%;
    float: right;
  }
}
@media screen and (max-width: 480px) {
/* 480pxまでの幅の場合に適応される */
}
@media screen and (max-width: 320px) {
/* 320pxまでの幅の場合に適応される */
}