* {
  box-sizing: border-box;
}

header {
  height: 100px;
}

header img {
	width: 200px;
	float: left;
}

.header-right {
  float: right;
}


.header-right img {
  padding: 10px 10px 10px 10px;
  line-height: 100px;
  width: 120px;
}

/*
.lesson-wrapper {
  background-image: url(pictures/shiba.jpg);
  background-size: cover;
  height: 500px;
  border-radius: 15px;
}
*/

.slider {
  width: 75%;
  height: 500px;
}

.message-wrapper {
  text-align: center;
  font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, 'sans-serif';
}

footer {
  text-align: center;
}

footer img {
	width: 200px;
}