* {
  box-sizing: border-box;
}

.site-header {
  height: 100px;
}

header img {
	width: 200px;
	float: left;
}

.header-right {
  float: right;
}


.header-right img {
  padding: 10px 10px 10px 10px;
  line-height: 100px;
  width: 120px;
}

.pictures-wrapper {
	margin-bottom: 40px;
}

.lesson-wrapper {
  height: 700px;
}

.message-wrapper {
  text-align: center;
  margin: 0 auto;
  width: 75%;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  color:#494949;
  background-image: url("pictures/pink.jpg");
}

.message-wrapper h1 {
  font-size: 40px;
}

.message-wrapper p {
  font-size: 20px;
}

.contents {
  margin: 50px;
}

.shop-photos {
  width: 50%;
  height: 300px;
  border: 1px solid black;
  float: left;
}

.info {
  width: 50%;
  height: 300px;
  border: 1px solid black;
  float: right;
}

.clear {
  clear: left;
}

footer {
  margin-top: 20px;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  background-color: aliceblue;
}

footer img {
  width: 150px;
}

footer p {
  font-size: 12px;
}