* {
  box-sizing: border-box;
}

header {
  background-color: white;
}

.header-left {
  float: left;
  width: 100px;
}

.header-right {
  float: right;
}


.header-right a {
  padding: 0 10px 0 10px;
}

.top-wrapper {
  background-image: url(pictures/shiba.jpg);
  background-size: cover;
}