* {
  box-sizing: border-box;
}

body {

}

.site-header {
  height: 100px; 
  background-image: url("pictures/dot.jpg");
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  margin-bottom: 30px;
  border-radius: 5px;
}

header img {
  width: 220px;
  float: left;
  margin-left: 20px;
}

.header-right {
  float: right;
  margin-right: 20px;
}


.header-right img {
  padding: 15px 10px 10px 10px;
  line-height: 100px;
  width: 120px;
}

.pictures-wrapper {
  margin: 50px auto 50px auto;
  width: 75%;
}

.slider {
	
}


.message-wrapper {
  text-align: center;
  margin: 0 auto;
  width: 75%;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  color:#494949;
  background-color: aliceblue
}

.message-wrapper img {
  width: 400px;
  padding: 15px;
}

.message-wrapper h1 {
  font-size: 40px;
}

.message-wrapper p {
  font-size: 20px;
}

.message-wrapper {
  display: flex;
}

.photos {
  margin: auto 15px auto 15px;
}

.contents {
  margin: 50px;
}

.shop-photos {
  width: 50%;
  height: 300px;
  border: 1px solid black;
  float: left;
}

.info {
  width: 50%;
  height: 300px;
  border: 1px solid black;
  float: right;
}

.clear {
  clear: left;
}

footer {
  margin-top: 20px;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  background-color: aliceblue;
}

footer img {
  width: 150px;
}

footer p {
  font-size: 12px;
}

.footer-access {
  
}